
.image {
  width: 15%;
  padding-right: 15px;
  img {
    width: 100%;
    height: 100%;
}
}
  
.text {
  width: 15%;
}

.quantity{
    display: flex;
    flex-direction: row;
    width: 12%;
  span {
    margin: 0 10px;
  }
  div {
    cursor: pointer;
  }
}

.remove__button {
  width: 35%;
  cursor: pointer;
}