.image {
  width: 15%;
  padding-right: 15px; }
  .image img {
    width: 100%;
    height: 100%; }

.remove__button {
  width: 35%;
  cursor: pointer; }

.text {
  width: 15%; }

.quantity {
  display: flex;
  flex-direction: row;
  width: 12%; }
  .quantity span {
    margin: 0 10px; }
  .quantity div {
    cursor: pointer; }
